html, body {
    height: 100%;
}
html {
    text-align: center;
    padding: 20px;
}
h3 {
    margin-top: 0;
}
ul, ol, table {
    list-style-type: none;
    text-align: left;
}
table {
    padding: 10px;
    border-collapse: collapse;
}
td, tr, th {
    padding: 5px;
    border: 1px solid #555;
}
ul:after {
    content: '';
    display: table;
    clear: both;

}
li {
    float: left;
    width: 32%;
    margin-left: 2%;
    border-bottom: 1px solid #555;
}
li:nth-child(3n + 1) {
    margin-left: 0;
}
.App .item {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #555;
}
.Mouse {
    height: 300px;
    border: 1px solid darkred;
}